.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.divider {
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.categories a {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.cartIcon {
  position: relative;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.goodsCount {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1c40f;
  border-radius: 50%;
}

.monitorsIcon,
.casesIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.monitorsIcon {
  background-image: url('./../../images/001-screen.svg');
}

.casesIcon {
  background-image: url('./../../images/005-null.svg');
}
